body {
    margin: 0;
  
}

header {
    background: orange;
    text-align: center;
    height: max-content;
    padding: 1em;
}

.primera {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    
}

article {
    flex: 1;
    border-width: 1px;
    border-style: solid;
    padding: 1em;
}

article:nth-child(2) {
    flex: 2;
}

#tablero {
    border-style: dashed;
    border-color: red;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    height: 75vh;
    gap: 5px;
 
}

#tablero div {
    border-style: dotted;
    margin: 10px;
    padding: 5px;
    
}

#uno{
    background-color: green;
}

#nueve{
    background-color: green;
}
#cinco{
    background-color: red;
}
#ocho{
 background-color: red;
}

.segunda{
   margin-left: 20%;
   margin-right: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}
#tablero2 {
    border-style: dashed;
    border-color: pink;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    height: 75vh;
    gap: 5px;
 
}

#tablero2 div {
    border-style: solid;
    margin: 10px;
    padding: 5px;
    
}

#tres_3{
    background-color: aqua;
}

#cinco_5{
    background-color: aqua;
}

#siete_7{
    background-color: aqua;
}
#ocho_8{
    background-color: yellow;
}

#nueve_9{
    background-color: yellow;
}

